<a href="https://colab.research.google.com/github/Supratik-90/Python-Training/blob/main/DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import random

# Generate data
names = [f"Student_{i}" for i in range(1, 51)]
roll_numbers = [f"RN{i:03d}" for i in range(1, 51)]
ages = [random.randint(18, 25) for _ in range(50)]
subjects = ["Math", "Science", "English", "History", "Geography"]

# Create subject-marks column with format like "Math-85"
subject_marks = [f"{random.choice(subjects)}-{random.randint(50, 100)}" for _ in range(50)]

# Create DataFrame
df = pd.DataFrame({
    "name": names,
    "roll number": roll_numbers,
    "age": ages,
    "subject-marks": subject_marks
})

# Display DataFrame
df

          name roll number  age subject-marks
0    Student_1       RN001   21    English-70
1    Student_2       RN002   23    Science-99
2    Student_3       RN003   23  Geography-60
3    Student_4       RN004   23  Geography-68
4    Student_5       RN005   24    Science-98
5    Student_6       RN006   20    History-97
6    Student_7       RN007   25    History-68
7    Student_8       RN008   23  Geography-57
8    Student_9       RN009   24    English-75
9   Student_10       RN010   20    History-96
10  Student_11       RN011   22    Science-64
11  Student_12       RN012   25  Geography-69
12  Student_13       RN013   22       Math-84
13  Student_14       RN014   20       Math-84
14  Student_15       RN015   23    History-94
15  Student_16       RN016   23    English-62
16  Student_17       RN017   23       Math-54
17  Student_18       RN018   22    English-91
18  Student_19       RN019   22    English-64
19  Student_20       RN020   19       Math-50
20  Student_21       RN021   19  Geography-79
21  Student_22       RN022   20    Science-92
22  Student_23       RN023   25    Science-95
23  Student_24       RN024   24    English-67
24  Student_25       RN025   21       Math-63
25  Student_26       RN026   18    Science-58
26  Student_27       RN027   18    Science-80
27  Student_28       RN028   22    History-97
28  Student_29       RN029   18  Geography-52
29  Student_30       RN030   23    Science-54
30  Student_31       RN031   19    History-98
31  Student_32       RN032   24    Science-83
32  Student_33       RN033   19    English-79
33  Student_34       RN034   20       Math-61
34  Student_35       RN035   22    Science-94
35  Student_36       RN036   25    English-50
36  Student_37       RN037   18  Geography-75
37  Student_38       RN038   21    History-88
38  Student_39       RN039   22    History-80
39  Student_40       RN040   18    Science-60
40  Student_41       RN041   24    English-96
41  Student_42       RN042   19  Geography-70
42  Student_43       RN043   23    History-60
43  Student_44       RN044   18   English-100
44  Student_45       RN045   23    History-54
45  Student_46       RN046   18    Science-77
46  Student_47       RN047   22    History-91
47  Student_48       RN048   24  Geography-98
48  Student_49       RN049   19    English-85
49  Student_50       RN050   18    History-56

In [ ]:

[df['age'] > 23]

[0     False
 1     False
 2     False
 3     False
 4      True
 5     False
 6      True
 7     False
 8      True
 9     False
 10    False
 11     True
 12    False
 13    False
 14    False
 15    False
 16    False
 17    False
 18    False
 19    False
 20    False
 21    False
 22     True
 23     True
 24    False
 25    False
 26    False
 27    False
 28    False
 29    False
 30    False
 31     True
 32    False
 33    False
 34    False
 35     True
 36    False
 37    False
 38    False
 39    False
 40     True
 41    False
 42    False
 43    False
 44    False
 45    False
 46    False
 47     True
 48    False
 49    False
 Name: age, dtype: bool]

In [ ]:
df[df['age'] > 23]

          name roll number  age subject-marks
4    Student_5       RN005   24    Science-98
6    Student_7       RN007   25    History-68
8    Student_9       RN009   24    English-75
11  Student_12       RN012   25  Geography-69
22  Student_23       RN023   25    Science-95
23  Student_24       RN024   24    English-67
31  Student_32       RN032   24    Science-83
35  Student_36       RN036   25    English-50
40  Student_41       RN041   24    English-96
47  Student_48       RN048   24  Geography-98

In [ ]:
Totalcount_23 = df[df['age'] > 23].shape[0]
print("Number of students over age 23:", Totalcount_23 )

Number of students over age 23: 10

In [65]:
 count_math_over_80 = df[
     df['subject-marks'].str.contains("Math") & (
 df['subject-marks'].str.extract(r"(\d+)$").astype(int)[0]> 80 )]

 print("Number of students who scored over 80 in Math:", count_math_over_80.shape[0])

Number of students who scored over 80 in Math: 2

In [64]:
mathscore_over_80 = df[
    df['subject-marks'].str.contains("Math") &
    (df['subject-marks'].str.extract(r"(\d+)$").astype(int)[0] > 80)
]

print("Students who scored over 80 in Math:\n", mathscore_over_80)

Students who scored over 80 in Math:
           name roll number  age subject-marks
12  Student_13       RN013   22       Math-84
13  Student_14       RN014   20       Math-84

In [4]:
completed_chapters = 7

total_chapters =12

percentage_comp = (completed_chapters/total_chapters)*100

print(f"You have completed {percentage_comp : .1f}% of the course")

You have completed  58.3% of the course

In [1]:
x = 42
isinstance(x, int)

True

In [3]:
x = True
isinstance(x, bool)

x = True
isinstance(x, int)

True

In [1]:
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [2]:
item1 = 40
item2 = 55
item3 = 77

res = "Cost of item3, item2 and item1 are {2}, {1} and {0}"
print(res.format(item1, item2, item3))

Cost of item3, item2 and item1 are 77, 55 and 40

In [6]:
str4 = "one two three four five six seven"
loc = str4.find("five") # Find the location of word 'five' in the string "str4"
print(loc)

str4 = "one two three four five six seven"
loc = str4.index("five") # Find the location of word 'five' in the string "str4"
print(loc)

19
19

In [2]:
list3 = [10.77,30.66,60.89]
print(type(list3))

list4 = ['one','two' , "three"]
print(type(list4))

<class 'list'>
<class 'list'>

In [11]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']
mylist.append('nine')
mylist

mylist.insert(6,'nine')
mylist

del mylist[7]
mylist

mylist.reverse()
mylist

mylist3 = [9,5,2,99,12,88,34]
mylist3.sort()
mylist3

mylist3.sort(reverse=True)
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [15]:
list1 = [2,3,4,5,6,7,8]
list1 = [i*10 for i in list1]
list1
for i in list1:
  print(i)

20
30
40
50
60
70
80

In [23]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

A.union(B)
A.union(B,C)

A.intersection(B)
A.intersection(C)
A.intersection(B,C)

A = {1,2,3,4,5}
B = {4,5,6,7,8}
A.difference(B)
B.difference(A)

A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [5]:
contacts = {
    "Ravi": "9876543210",
    "John": "9123456780",
    "Priya": "9012345678"
}
print("Ravi's number:", contacts["Ravi"])
contacts["Anita"] = "9988776655"

print("Final contact list:")
for name, number in contacts.items():
    print(f"{name}: {number}")

Ravi's number: 9876543210
Final contact list:
Ravi: 9876543210
John: 9123456780
Priya: 9012345678
Anita: 9988776655

In [18]:
from re import L
def even_odd(num):
  if num % 2==0:
     print( num, "is even number" )

list1 = [11,22,33,44,55]
def myfunc(list1):
    del list1[0]

print(list1)
myfunc(list1)
print(list1)

[11, 22, 33, 44, 55]
[22, 33, 44, 55]

In [3]:
nums = [1, 2, 3, 4, 5, 6]
even=list(filter(lambda x: x % 2 == 0, nums))
print(even)

nums = [1, 2, 3, 4]
squared = list(map(lambda x: x ** 2, nums))
print(squared)

[2, 4, 6]
[1, 4, 9, 16]

In [7]:
class Student:
    def __init__(self, name, roll, marks):
        self.name = name
        self.roll = roll
        self.marks = marks

    def display(self):
        print(f"Name: {self.name}")
        print(f"Roll: {self.roll}")
        print(f"Marks: {self.marks}")

s1 = Student("Riya", 101, 89)
s1.display()

Name: Riya
Roll: 101
Marks: 89

In [2]:
class Animal:
    def speak(self):
        print("Animal makes a sound")

class Dog(Animal):  # Dog inherits from Animal
    pass
d = Dog()
d.speak()  # Output: Animal makes a sound

Animal makes a sound

In [3]:
class Animal:
    def speak(self):
        print("Animal makes a sound")

class Dog(Animal):
    def speak(self):  # Overriding the parent method
        print("Dog barks")

a = Animal()
a.speak()  # Output: Animal makes a sound

d = Dog()
d.speak()  # Output: Dog barks  ← (Overridden)

Animal makes a sound
Dog barks

In [4]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry